
<hr>
<label for="hometown">Home Town: </label>
<input name="hometown" [(ngModel)]="homeTown"/>
<br>
<label for="profession">Profession: </label>
<input name="profession" [(ngModel)]="profession"/>
<br>
<label for="birthday">Birthday: </label>
<input name="birthday" [(ngModel)]="birthday"/>
<br>
<label for="lifeEventDate">Life Event Date: </label>
<input name="lifeEventDate" [(ngModel)]="lifeEventDate"/>
<br>
<label for="lifeEvent">Life Event: </label>
<input name="lifeEvent" [(ngModel)]="lifeEvent"/>
<br>
<p>I have spent my whole life working as
    a {{ profession }} in {{ homeTown }}.
    But on {{lifeEventDate}} I {{lifeEvent}}.
</p>
