
<h1>Welcome to {{dungeonName}}</h1>

<ul *ngFor="let monster of monsters">
    <li>{{monster}}</li>
</ul>

<form #dungeonNameForm = ngForm (ngSubmit)="changeDungeonName(dungeonNameForm)">
    <label for="dungeon">What is the dungeon name?</label>
    <input name="dungeon" id="dungeon" ngModel>
    <button>Submit</button>
</form>

<p>Dungeon Difficulty: {{difficulty}}</p>
<p *nfIf="treasure > 0">Treasure Amount: {{treasure | currency}}</p>
<p *nfIf="treasure == 0">Brad says you get NOTHING!</p>

<div *ngIf="showBoss">
    <app-boss-monster></app-boss-monster>
</div>
<button (click)="toggleBoss()">{{buttonText}}</button>